fastapi
uvicorn[standard]
pydantic
pydantic-settings
redis
SQLAlchemy
asyncmy
sqlmodel
python-dotenv
brapi
httpx
aiolimiter
tenacity
agno
mcp
uvloop
streamlit
streamlit-lottie
pandas
google-genai
requests
tomli

# Requirements para testes
pytest
pytest-asyncio
respx
pytest-mock
coverage
pytest-cov